/*
Página toda
*/

*{
  padding:0px;
  margin:0px;
}

/*
Style da Página -Versão desktop

*/
.container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: 
  "menu-lateral main"
  "menu-lateral main"
  "menu-lateral footer";
  grid-template-columns: 20vw 3fr;
  grid-template-rows: 160px 1fr 80px;
}

.left {
  grid-area: menu-lateral;
  height: 100%;
  width:20vw;
  display:flex;
  flex-direction: column;
  background-color: #C23949;
  gap: 16px;


}
.logo{
  position:sticky;
  top: 10%;
}
.navbar{
  font-family: roboto;
  color: white;
  text-align: center;
  font-size: 26px;
  position:sticky;
  top: 50%;
}

.botao{
  transition: all .5s;
  border: 10px solid transparent;
}
.botao:hover{
    border-bottom: 1px solid white;
    border-radius: 10%;
}

h1{
  text-align: center;
  margin-top:16px;
  margin-bottom: 16px;
}

#botao-fixo{
  border-color: whitesmoke;
  margin-left: 7.5%;
  background:rgba(0,0,0,0.2);
  position:fixed;
  top:2%;
}

#parte1 {
  width: 40%;
  font-size: medium;
  text-align: justify;
  background-color:floralwhite;
  color: darkblue;
  list-style: none;
}

#parte2 {
  width: 10 %;
  font-size: medium;
  
}

.subtitulo {
  text-align: center;
}
.tabela1 {
  display: inline-block; 
}

.main {
 grid-area: main;
 text-align: justify;
 font-family: roboto;
 font-size: 18px;
 padding:32px;
}



.cards {
  display: flex;
  flex-direction: column;
  width: 20%;
  border: 2px solid white;
  box-shadow: 10px 10px 10px 5px gray;
  align-items: center;
}


.cards img {
  width: 100%;
}

.cardtexto {
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.botaocard {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  background-color: #C23949;
  color: white;
  border:white;
  width: 100%;
}

 

.footer {
  grid-area: footer;
  background-color: #C23949;
  background-image: linear-gradient(to right, #C23949, #D4747F );
  text-align: center;
}

/*
Versão Responsiva - Smartphones

*/
@media screen and (min-device-width : 320px) and (max-device-width : 480px){
  *{
  display: grid;
  
  }
  .container{
  width: 100%;
  height: 100%;
  grid-template-areas: 
  "menu-lateral"
  "main"
  "footer";
  grid-template-columns: 100% ;
  grid-template-rows: 160px 1fr 80px;
  }
  .left{
   position:sticky;
   top:0; 
   width:100vw;
   height:15vh;
   grid-template-columns: 100px 5fr;
   grid-template-rows: 100px 1fr;
      
  }
  .logo{
    max-width: 100px;
    max-height: 100px;
  }
  }
  .botao{
    color:black;
    position: relative;
    top: 0;
   
  }
  


.footer h4 {
  padding: 10px 0px 10px 0px;
}

.footer img {
  padding: 10px;
  
  }

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .footer img {
    width: 7%;
  }
}

